<!-- 
  Interpolation in unison uppercase built-in Angular pipe
 -->
<!-- 
  Correct usage:
  Based on what I absorbed when we use [] around a property tells Angular
  that you wanted to evaluate its value as an expression.
  - [textContent]="name"
  Angular can translate the interpolation to property too. In this example 
  we told Angular explicitly to evaluate the value as a expression.
  - textContent="{{ name }}"
  Wrong usage:
  Angular no more see the "name" as an expression
  - textContent="name"
 -->
<h2>{{ media.name | uppercase }}</h2>
<!-- 
  Interpolation in unison function call
 -->
<div>Watched on {{ media.watchedOn }}</div>
<div>{{ media.category }}</div>
<div>{{ media.year }}</div>
<div class="tools">
  <svg
    class="favorite"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M12 9.229c.234-1.12 1.547-6.229 5.382-6.229 2.22 0 4.618 1.551 4.618 5.003 0 3.907-3.627 8.47-10 12.629-6.373-4.159-10-8.722-10-12.629 0-3.484 2.369-5.005 4.577-5.005 3.923 0 5.145 5.126 5.423 6.231zm-12-1.226c0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-7.962-9.648-9.028-12-3.737-2.338-5.262-12-4.27-12 3.737z"
    />
  </svg>
  <!-- 
    Native DOM events or custom events you have created.
      - Native DOM events in Angular discarded the "on" part as you see here
      - This is #my_convention:
        - Prefix the method name with event name - In this example: Click - and 
          to make it readable I prepend the "on" word too. At last we need a noun
          to state our function name more vividly
   -->
  <a class="delete" (click)="onClickDeleteMedia(media.id)">remove</a>
  <a class="details">watch</a>
</div>
